* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --hue-primary: 292;
    --hue-secondary: 178;
    --primary500: hsl(var(--hue-primary), 69%, 30%);
    --primary600: hsl(var(--hue-primary), 69%, 40%);
    --primary700: hsl(var(--hue-primary), 90%, 70%);
    --secondary800: hsl(var(--hue-secondary), 90%, 80%);
    --dark-gray50: hsl(var(--hue-primary), 90%, 5%);
    --dark-gray100: hsl(var(--hue-primary), 90%, 10%);
    --white0: rgba(255, 255, 255, 0);
    --white50: rgba(255, 255, 255, 0.05);
    --white100: rgba(255, 255, 255, 0.1);
    --white200: rgba(255, 255, 255, 0.2);
    --white300: rgba(255, 255, 255, 0.3);
    --white400: rgba(255, 255, 255, 0.4);
    --white500: rgba(255, 255, 255, 0.5);
    --white: #fff;
    font-size: clamp(0.75rem, 1.15rem, 1.25rem);
}

body {
    background: linear-gradient(90deg, var(--dark-gray100), var(--dark-gray50));
    color: #fff;
    font: 0.6666666667em "Work Sans", sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
}

.card {
    zoom: 130%;
    --blur: 12px;
    --width: 25em;
    --height: 17em;
    --move-by: 1.5em;
    background-image: linear-gradient(90deg, var(--primary600), var(--primary500));
    border-radius: 1em;
    box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.1);
    position: absolute;
    top: var(--move-by);
    left: calc(var(--move-by) * -1);
    width: var(--width);
    height: var(--height);
    transform: translate(-50%, -50%);
}

[dir="rtl"] .card {
    background-image: linear-gradient(-90deg, var(--primary600), var(--primary500));
    left: var(--move-by);
}

.card--glass {
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    background-image: linear-gradient(90deg, var(--white200), var(--white50));
    color: transparent;
    top: calc(var(--move-by) * -1);
    left: var(--move-by);
}

.card--glass:before,
.card--glass:after {
    border-radius: inherit;
    content: "";
    display: block;
    position: absolute;
    inset: 0;
}

.card--glass:before {
    border: 1px solid var(--white);
    mask-image: linear-gradient(135deg, var(--white), var(--white0) 50%);
}

.card--glass:after {
    border: 1px solid var(--primary500);
    mask-image: linear-gradient(135deg, var(--white0) 50%, var(--white));
}

[dir="rtl"] .card--glass {
    background-image: linear-gradient(-90deg, var(--white200), var(--white50));
    left: calc(var(--move-by) * -1);
}

[dir="rtl"] .card--glass:before {
    mask-image: linear-gradient(-135deg, var(--white), var(--white0) 50%);
}

[dir="rtl"] .card--glass:after {
    mask-image: linear-gradient(-135deg, var(--white0) 50%, var(--white));
}

.card__content {
    background: linear-gradient(var(--white0) 3.125em, var(--primary700) 3.375em, var(--secondary800) 4.5em) 0 0 / calc(var(--width) - var(--move-by) * 2) 50%, linear-gradient(90deg, var(--secondary800) 13em, var(--primary700) calc(var(--width) - var(--move-by) * 2), var(--white0) 19.1em) 0 100% / 100% 50%, linear-gradient(90deg, var(--white500) 4em, var(--white200)) 0 0 / 100% 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.25em 1.5em;
    position: relative;
    height: 100%;
    z-index: 1;
}

[dir="rtl"] .card__content {
    background: linear-gradient(var(--white0) 3.125em, var(--primary700) 3.375em, var(--secondary800) 4.5em) 100% 0 / calc(var(--width) - var(--move-by) * 2) 50%, linear-gradient(-90deg, var(--secondary800) 13em, var(--primary700) calc(var(--width) - var(--move-by) * 2), var(--white0) 19.1em) 100% 100% / 100% 50%, linear-gradient(-90deg, var(--white500) 4em, var(--white200)) 100% 0 / 100% 100%;
}

.card__content,
[dir="rtl"] .card__content {
    -webkit-background-clip: text;
    background-clip: text;
    background-repeat: no-repeat;
}

.card__logo,
.card__title {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.17;
}

.card__description {
    font-size: 1em;
    line-height: 1.17;
}

.card__logo {
    text-align: end;
    width: 25%;
}

.card__title {
    font-family: "Inter", sans-serif;
    width: 75%;
}

.card__url {
    font-size: 0.75em;
    align-self: flex-end;
    margin-inline-start: auto;
}

.cards {
    position: relative;
}

/* Defs */
@property --angle-1 {
    syntax: "<angle>";
    inherits: false;
    initial-value: -75deg;
}

@property --angle-2 {
    syntax: "<angle>";
    inherits: false;
    initial-value: -45deg;
}

:root {
    --global--size: clamp(2rem, 4vw, 5rem);
    --anim--hover-time: 400ms;
    --anim--hover-ease: cubic-bezier(0.25, 1, 0.5, 1);
}

/* ========== BUTTON ========== */

a {
    text-decoration: none;
}

.button-align {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Button Wrap Container */
.button-wrap {
    position: relative;
    z-index: 2;
    border-radius: 999vw;
    background: transparent;
    pointer-events: none;
    transition: all var(--anim--hover-time) var(--anim--hover-ease);
}

/* Button Shadow Container */
.button-shadow {
    --shadow-cuttoff-fix: 2em;
    position: absolute;
    width: calc(100% + var(--shadow-cuttoff-fix));
    height: calc(100% + var(--shadow-cuttoff-fix));
    top: calc(0% - var(--shadow-cuttoff-fix) / 2);
    left: calc(0% - var(--shadow-cuttoff-fix) / 2);
    filter: blur(clamp(2px, 0.125em, 12px));
    -webkit-filter: blur(clamp(2px, 0.125em, 12px));
    -moz-filter: blur(clamp(2px, 0.125em, 12px));
    -ms-filter: blur(clamp(2px, 0.125em, 12px));
    overflow: visible;
    pointer-events: none;
}

/* Shadow */
.button-shadow::after {
    content: "";
    position: absolute;
    z-index: 0;
    inset: 0;
    border-radius: 999vw;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
    width: calc(100% - var(--shadow-cuttoff-fix) - 0.25em);
    height: calc(100% - var(--shadow-cuttoff-fix) - 0.25em);
    top: calc(var(--shadow-cuttoff-fix) - 0.5em);
    left: calc(var(--shadow-cuttoff-fix) - 0.875em);
    padding: 0.125em;
    box-sizing: border-box;
    mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    mask-composite: exclude;
    transition: all var(--anim--hover-time) var(--anim--hover-ease);
    overflow: visible;
    opacity: 1;
}

/* ========== BUTTON BASE STYLES ========== */

button {
    /* Basic Styling */
    --border-width: clamp(1px, 0.0625em, 4px);
    all: unset;
    cursor: pointer;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    pointer-events: auto;
    z-index: 3;
    background: linear-gradient(-75deg,
            rgba(255, 255, 255, 0.05),
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.05));
    border-radius: 999vw;
    box-shadow: inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05),
        inset 0 -0.125em 0.125em rgba(255, 255, 255, 0.5),
        0 0.25em 0.125em -0.125em rgba(0, 0, 0, 0.2),
        0 0 0.1em 0.25em inset rgba(255, 255, 255, 0.2),
        0 0 0 0 rgba(255, 255, 255, 1);
    backdrop-filter: blur(clamp(1px, 0.125em, 4px));
    -webkit-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
    -moz-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
    -ms-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
    transition: all var(--anim--hover-time) var(--anim--hover-ease);
    padding: 10px;
    color: white;
}

button:hover {
    transform: scale(0.975);
    backdrop-filter: blur(0.01em);
    -webkit-backdrop-filter: blur(0.01em);
    -moz-backdrop-filter: blur(0.01em);
    -ms-backdrop-filter: blur(0.01em);
    box-shadow: inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05),
        inset 0 -0.125em 0.125em rgba(255, 255, 255, 0.5),
        0 0.15em 0.05em -0.1em rgba(0, 0, 0, 0.25),
        0 0 0.05em 0.1em inset rgba(255, 255, 255, 0.5),
        0 0 0 0 rgba(255, 255, 255, 1);
}

/* Button Text */
button span {
    position: relative;
    display: block;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-family: "Inter", sans-serif;
    letter-spacing: -0.05em;
    font-weight: 500;
    font-size: 1em;
    color: rgba(50, 50, 50, 1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 0em 0.25em 0.05em rgba(0, 0, 0, 0.1);
    transition: all var(--anim--hover-time) var(--anim--hover-ease);
    padding-inline: 1.5em;
    padding-block: 0.875em;
}

button:hover span {
    text-shadow: 0.025em 0.025em 0.025em rgba(0, 0, 0, 0.12);
}

/* Text */
button span::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    width: calc(100% - var(--border-width));
    /* Prevent overlapping border */
    height: calc(100% - var(--border-width));
    top: calc(0% + var(--border-width) / 2);
    left: calc(0% + var(--border-width) / 2);
    box-sizing: border-box;
    border-radius: 999vw;
    overflow: clip;
    background: linear-gradient(var(--angle-2),
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.5) 40% 50%,
            rgba(255, 255, 255, 0) 55%);
    z-index: 3;
    mix-blend-mode: screen;
    pointer-events: none;
    background-size: 200% 200%;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    transition: background-position calc(var(--anim--hover-time) * 1.25) var(--anim--hover-ease),
        --angle-2 calc(var(--anim--hover-time) * 1.25) var(--anim--hover-ease);
}

button:hover span::after {
    background-position: 25% 50%;
}

button:active span::after {
    background-position: 50% 15%;
    --angle-2: -15deg;
}

/* Touch Devices */
@media (hover: none) and (pointer: coarse) {

    button span::after,
    button:active span::after {
        --angle-2: -45deg;
    }
}

/* ========== BUTTON OUTLINE ========== */

/* Outline */
button::after {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    border-radius: 999vw;
    width: calc(100% + var(--border-width));
    height: calc(100% + var(--border-width));
    top: calc(0% - var(--border-width) / 2);
    left: calc(0% - var(--border-width) / 2);
    padding: var(--border-width);
    box-sizing: border-box;
    background: conic-gradient(from var(--angle-1) at 50% 50%,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0) 5% 40%,
            rgba(0, 0, 0, 0.5) 50%,
            rgba(0, 0, 0, 0) 60% 95%,
            rgba(0, 0, 0, 0.5)),
        linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    mask-composite: exclude;
    transition: all var(--anim--hover-time) var(--anim--hover-ease),
        --angle-1 500ms ease;
    box-shadow: inset 0 0 0 calc(var(--border-width) / 2) rgba(255, 255, 255, 0.5);
}

button:hover::after {
    --angle-1: -125deg;
}

button:active::after {
    --angle-1: -75deg;
}

@media (hover: none) and (pointer: coarse) {

    button::after,
    button:hover::after,
    button:active::after {
        --angle-1: -75deg;
    }
}

/* Shadow Hover */
.button-wrap:has(button:hover) .button-shadow {
    filter: blur(clamp(2px, 0.0625em, 6px));
    -webkit-filter: blur(clamp(2px, 0.0625em, 6px));
    -moz-filter: blur(clamp(2px, 0.0625em, 6px));
    -ms-filter: blur(clamp(2px, 0.0625em, 6px));
    transition: filter var(--anim--hover-time) var(--anim--hover-ease);
}

.button-wrap:has(button:hover) .button-shadow::after {
    top: calc(var(--shadow-cuttoff-fix) - 0.875em);
    opacity: 1;
}

/* Rotation */
.button-wrap:has(button:active) {
    transform: rotate3d(1, 0, 0, 25deg);
}

.button-wrap:has(button:active) button {
    box-shadow: inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05),
        inset 0 -0.125em 0.125em rgba(255, 255, 255, 0.5),
        0 0.125em 0.125em -0.125em rgba(0, 0, 0, 0.2),
        0 0 0.1em 0.25em inset rgba(255, 255, 255, 0.2),
        0 0.225em 0.05em 0 rgba(0, 0, 0, 0.05),
        0 0.25em 0 0 rgba(255, 255, 255, 0.75),
        inset 0 0.25em 0.05em 0 rgba(0, 0, 0, 0.15);
}

.button-wrap:has(button:active) .button-shadow {
    filter: blur(clamp(2px, 0.125em, 12px));
    -webkit-filter: blur(clamp(2px, 0.125em, 12px));
    -moz-filter: blur(clamp(2px, 0.125em, 12px));
    -ms-filter: blur(clamp(2px, 0.125em, 12px));
}

.button-wrap:has(button:active) .button-shadow::after {
    top: calc(var(--shadow-cuttoff-fix) - 0.5em);
    opacity: 0.75;
}

.button-wrap:has(button:active) span {
    text-shadow: 0.025em 0.25em 0.05em rgba(0, 0, 0, 0.12);
}